<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nexters.godofmemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <!-- OPENGL설정 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- DB사용위해 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 메모 선택시 진동 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mindpaper_icon"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >

        <!-- 스플래쉬 화면 앱을 처음 구동할 때 실행한다. -->
        <activity
            android:name="com.nexters.godofmemo.SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main activity 메모 보드 화면 -->
        <activity
            android:name="com.nexters.godofmemo.MainActivity"
            android:label="@string/title_activity_board" >
        </activity>

        <!-- Memo activity 메모 신규 입력/수정 화면 -->
        <activity
            android:name="com.nexters.godofmemo.MemoActivity"
            android:label="@string/title_activity_memo" >
        </activity>

        <!-- Group activity 메모 신규 입력/수정 화면 -->
        <activity
            android:name="com.nexters.godofmemo.GroupActivity"
            android:label="@string/title_activity_group" >
        </activity>
        <!-- Tutorial activity 튜토리얼 페이지 화면 -->
        <activity
            android:name="com.nexters.godofmemo.TutorialActivity"
            android:label="@string/title_activity_tutorial" >
        </activity>
    </application>

</manifest>